{% extends "layout.html" %}

{% block body %}

<body>
    <div class = "container">
        <h4>Show Protocol</h4>
        {% from "_formhelpers.html" import render_field %}
        <form method="POST" enctype="multipart/form-data"> 
            <dl>
                {{render_field(form.show)}}
            </dl>
            <p><input type=submit value=Submit></p>
        </form>
        
        {% if error %}
            <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}

    </div>
</body>

{% endblock %}
