{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
    <b>To use the IdP you must have a user's endpoint running, and a RP. For testing purposes use this RP from <a href="https://github.com/moullos/UnlimitID/tree/master/tests/compatibility/Flask-OAuthlib">here</a>. It is ready to use and already registered. If you are running the User and the RP on the same machine make sure they do not share cookies.</b><br>
    Then: <br>
    1. Register a valid user <br>
    2. Use the user's endpoint to get a credential and extract an RP-specific "show" file. The name of the RP is 'dev' in this case  <br>
    3. Initiate an authorization flow by visiting the RP<br>
    4. Upload the show file and get the access token <br>
    5. Revisiting the RP will automatically redeem the token for user info
    
    <p><a href="{{ url_for('signup') }}" class="btn btn-info" role="button">Register a User</a></p>
    <a href="{{ url_for('client_signup') }}" class="btn btn-info" role="button">Register a RP</a>
	</div>
</div>

{% endblock %}
