{% extends "layout.html" %}

{% block body %}

<body>
    <div class = "container">
        <h4>Signup</h4>
        {% from "_formhelpers.html" import render_field %}
        <form method=post action="/register">
            <dl>
                {{render_field(form.service_name)}}
            </dl>
            <p><input type=submit value=Register></p>
        </form>
        
        {% if error %}
            <p class="error"><strong>Error:</strong>{{error}}</p>
        {% endif %}

    </div>
</body>

{% endblock %}
