{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block body %}

<body>
    <div class="row">
        <div class="col-xs-12 col-md-3 col-sm-4 col-sm-offset-4 col-md-offset-4 col-lg-3 col-lg-offset-4">
            <div class="login-message">
                <h2>Get Credential</h2>
                <h4>To get credentials login is required</h4>
            </div>
            {% call macros.render_form(form, action_url=url_for('get_credential'), action_text='Submit', class_='login-form') %}
            {{macros.render_field(form.email)}}
            {{macros.render_field(form.password)}}
            <b>Choose the keys to add in the credential:</b><p>
            Please avoid including keys that can uniquely identify you to the IdP.
            {{macros.render_checkbox_field(form.keys)}}
            {% endcall %}

        </div>
    </body>

    {% endblock %}
